img {
    width: 100%;
    height: 100px;
}

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
    font-weight:600;
    font-family: Arial, Helvetica, sans-serif;
}

/* Centered text */
.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    background-color: #cce7cd;
}

.text1 {
    position: relative;
    font-weight: 700;
    text-align: center;
    color: #2a2a2a;
    font-family: Arial, Helvetica, sans-serif;
}
